h2 {
  color: green;
  font-style: italic;
}

.blog {
  color: black;
  padding-top: 14px;
  padding-bottom: 10px;
  padding-left: 5px;
  font-size: 15px;
  margin-bottom: 10px;
  border: solid;
  border-color:wheat;
  background-color:ivory;
  width: 500px;
}

.blogTitle {
  font-size: 18px;
}

.success {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}